In [1]:
#!/usr/bin/env python3
# coding: utf-8

In [2]:
# Ipywidgets
#!pip install ipywidgets
#!jupyter nbextension enable --py widgetsnbextension

In [3]:
import seaborn as sns
titanic = sns.load_dataset('titanic')
titanic.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [4]:
from ipywidgets import interact
from matplotlib import pyplot as plt
@interact
def create_fare_plot(col=titanic.drop(['fare', 'age'], axis=1).columns):
    sns.barplot(data=titanic, x=col, y='fare')
    plt.title(f'Mean bar plot of sdfsd grouped by {col}')

interactive(children=(Dropdown(description='col', options=('survived', 'pclass', 'sex', 'sibsp', 'parch', 'embâ€¦

In [5]:
# Voila
#!pip install voila

In [6]:
# Did not work
#!pip install dash

# import dash 
# from dash import Input
# from dash import dcc, html
# import plotly.express as px
# import pandas as pd
# import seaborn as sns