In [12]:
import pandas as pd
import datetime
import random
import calendar

### Using Tabula to import chart data from Bureau of Labor Statistics
---

In [21]:
#import tabula
# file = '../resources/cesan.pdf'
# table = tabula.read_pdf(file, pages=5)

In [22]:
# test = table[0].copy()#.columns({'Unnamed: 0':'first'})

In [23]:
# test.to_csv('consumer_spending.csv', index=False)

In [24]:
table = pd.read_csv('consumer_spending.csv').reset_index(drop=True)
table = table.rename(columns={table.columns[0]:'category',table.columns[1]:'2018', table.columns[2]:'2019', table.columns[3]:'2020'})
# table['category'] = table['category'].str.replace(r'[^\w\s]+','')
# table['2018'] = table['2018'].str.replace(r'[^\w\s]+','')
for i in table.columns:
    table[i] = table[i].str.replace(r'[^\w\s]+','')
table= table[['category', '2018', '2019', '2020']]
table= table.iloc[2:18].reset_index(drop=True)
#table

In [25]:
keep_list = ['Food', 'Housing', 'Apparel and services']
#for i in keep_list:
keep = table.loc[(table.category == 'Food')|
                 (table.category == 'Housing')|
                 (table.category == 'Apparel and services')|
                 (table.category == 'Average income before taxes')|
                 (table.category == 'Average annual expenditures')].reset_index(drop=True)

In [26]:
# 2nd table on page 6 is too messy easier to type out answers 2018
appendlist = [['transportation', 9761, 10742, 9826],
['healthcare', 4968, 5193, 5177],
['entertainment', 3226, 3050, 2912],
['personal_care_products', 768, 768, 864],
['reading', 108, 92, 114],
['education', 1407, 1443, 1271],
['tobacco', 347, 320, 315],
['misc', 993, 899, 907],
['cash_contrib', 1888, 1995, 2283],
['personal_insurance_pensions', 7296, 7165, 7246]]

In [27]:
for i in appendlist:
    #print(i)
    keep2 = pd.Series(i, index=['category', '2018', '2019', '2020'])
    #print(keep2)
    keep  = keep.append(keep2, ignore_index = True)

In [20]:
keep

                       category   2018   2019   2020
0   Average income before taxes  78635  82852  84352
1   Average annual expenditures  61224  63036  61334
2                          Food   7923   8169   7316
3                       Housing  20091  20679  21409
4          Apparel and services   1866   1883   1434
5                transportation   9761  10742   9826
6                    healthcare   4968   5193   5177
7                 entertainment   3226   3050   2912
8        personal_care_products    768    768    864
9                       reading    108     92    114
10                    education   1407   1443   1271
11                      tobacco    347    320    315
12                         misc    993    899    907
13                 cash_contrib   1888   1995   2283
14  personal_insurance_pensions   7296   7165   7246

# Generating Seed Data
---
- Making selected identifiers and transactions for sample data

In [ ]:
transaction_dict = {
    'gas':['QuikTrip 0000 00000000 ATLANTA GA',
       'SHELL OIL 00000000000 EAST POINT GA',
       'EXXON 000000-00 ATLANTA, GA'],
    
'groceries' : ['KROGER #000 STONE MOUNTAIN GA',
            'PUBLIX SUPERMAR #0000 DECATOR, GA',
            'WHOLE FOODS 000000 ATLANTA, GA',
            'COSTCO 000 000000000000 DULUTH, GA'],

'grooming' : ['CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA',
           'BATH AND BODY WORKS 0000 LAWRENCEVILLE GA'],

'homeimprov':['LOWES #00000* BUFORD GA',
             'TRACTOR SUPPLY CO #0000 GRAYSON GA',
             'THE HOME DEPOT #0000 NORCROSS GA'],

'medical' : ['CVS/PHARMACY #0000 SUWANEE GA', 
          'WALGREENS #00000 WINDER GA',
          'DRROBERTPARK OPTOMETRIST & ASSoc SNELLVILLE, GA',
          'GREATER ATLANTA PEDIATRICS STONEMOUNTAIN GA',
          'EMORYUNV HOSPITAL 78979879 ATLANTA GA',
             'ATLANTA GYO&OB *0000000 DECATUR GA '],

'conveyance' :['E ZPASS MD CSC0000000 000-0000000 MD',
              'AUTOZONE 0000 STONEMOUNTAIN GA',
              'ADVANCE AUTO PARTS #0000 LITHONIA GA',
             'EXPRESSOILCHANGE 00*0000000-0 SNELLVILLE, GA',
             'NORTHERN TOOL 00 000000 000 SNELLVILLE, GA'],

'takeaway': ['PANERA BREAD #000000 P ATLANTA GA', 
        'CHICK-FIL-A #00000 TUCKER GA',
        "WENDY'S LOGAN LOGANVILLE GA",
        'BOJANGLES 0000 DULUTH GA',
        'COOK OUT LITHONIA GA 0 LITHONIA GA',
        'TROPICAL SMOOTHIE CAFE GA DECATUR GA',
        'HARDEES 0000 LILBURN GA',
        'PANDA EXPRESS 00000H TUCKER GA',
        'KFC G00000 DECATUR GA',
        'Subway 00000 Lithonia GA',
        'STARBUCKS STORE 0000 ATLANTA GA'],

'utility' :['COX INTERNET 1233456 GA',
           'VZWRLSS*APOCC VISW 000-000-0000 FL',
          'T-MOBILE 0000 00000 00000 ATLANTA GA',
          'GEORGIAPOWERCO 000000 ATLANTA GA',
          'CITYOFDECATUR PUBLIC WORKS 0000000 GA'],

'clothing' : ['ROSS STORES # 0000 TUCKER GA',
           'BATH AND BODY WORKS 0000 STONECREST GA',
           'WAL-MART #0000 STONEMOUNTAIN GA',
           "KOHL'S #0000 SNELLVILLE GA",
           'TARGET 00000000 TUCKER GA',
           'WM SUPERCENTER #0000 CHAMBLEE GA'],

'holiday' : [
    'AMERICAN AIR 00-00000000000 MINNEAPOLIS, MN',
    'EXPEDIA 00000000000000 EXPEDIA.COM WA',
    'UNITED 000000000000 000-000-0000 TX'
    'SANDALSOCHI JAMAICA *008900088899 JAMAICA'],

'streaming' : ['Disney PLUS Burbank CA',
             'AMZN Mktp US*0A0000000 Amzn.com/bill WA',
             'APPLE.COM/BILL 000-000-0000 CA'],

'work': ['PAYPAL *LINKEDIN 000-000-0000 CA',
       'OFFICEMAX/DEPOT 0000 peachtree corners GA',
        'BEST BUY 000000 TUCKER GA'],
  
'gift':['Etsy.com - leatherwork00 000-0000000 NY', 
      'SHUTTERFLY, INC. 000-000000000 CA',
     'PeachTree FLOWERS 0000000 ATLANTA, GA'],

'baby': ['buybuy BABY 000000 Snellville Ga',
       'POTTERYBARN KIDS 000 000000 ATL GA',
       'CARTERS KIDS 00 00 00000 LAWERENCEVILLE GA',
       'BABYGAP 0-0000-000 Atlanta GA'],

'wedding' : ['TIFFANY&CO *90-000009- ATLANTA GA',
          'helzbergDiamonds 70000-000 ATLANTA GA',
          'BrianneMcMullan Events llc *999*9999****** GA',
          'ATLBOTANICALGAR ATLANTA GA',
          'the White Magnolia Bridal ATLANTA GA',
          'RACHMAKESCAKES ATL GA'],

'furniture':['IKEACO 88888888888 ATLANTA GA',
           'BEDBATHBEYOND 898098098 snellville, GA',
            'ASHLEY FURNITURE 8****9999 ATHENS GA']}

# Putting Dict into a DF
---

In [ ]:
temp_df = pd.DataFrame()
for key, value in transaction_dict.items():
    temp_df[key] = pd.Series(value)

In [ ]:
temp_df.head()

# Flipping DF
---

In [ ]:
temp_df.columns = temp_df.columns.str.split("_", expand =True)
temp_df = temp_df.stack(level=0).rename_axis((None, 'identifier')).reset_index('identifier').reset_index(drop=True)
temp_df = temp_df.rename(columns={temp_df.columns[1]: 'transaction'})
temp_df.head()

# Adding Random Dates
---

In [ ]:
def generate_ran_date(year, month, first_day, end_day):
    start = datetime.date(year, month, first_day)
    end = datetime.date(year, month, end_day)
    time_btw = end - start
    days_btw = time_btw.days
    rand_num = random.randrange(days_btw)
    rand_date = start + datetime.timedelta(days=rand_num)
    return rand_date

In [ ]:
dates = []
for i in range(len(temp_df)):
    dates.append(generate_ran_date(2018, 1, 1, 31))
temp_df['date'] = dates

In [ ]:
temp_df.head()

# Adding Transaction Amounts
---
- Making a sensible pattern to spending
- [US Bureau of Statistics Consumer Expendatures 2020](https://www.bls.gov/news.release/pdf/cesan.pdf)

In [ ]:
temp_df['identifier'].unique()

### Average person drives 
- 14,263 miles/yr divided by 12 == 1189 miles/mo divided by 4 weeks == 297.25 miles/wk
- 297.25 miles/wk divided by 24 miles per gallon == 12.39
- Average cost of gas in 2018 == $2.81
- Monthly average spending
- [Historical Gas Prices](https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=pet&s=emm_epmr_pte_nus_dpg&f=m)

In [ ]:
14263/24*2.813

In [ ]:
def gen_ran_num(start, stop):
    return random.randint(start, stop)
def gen_ran_float(start, stop):
    return random.uniform(start, stop)

In [ ]:
def get_end_month(year, month):
    end = calendar.monthrange(year, month)
    return end[1]

In [ ]:
def create_random_gas(slice_df, max_duplicates, min_price, max_price, month, day, end_day):
    gas_prices_by_mo = [2.671, 2.705, 2.709, 2.873, 2.987, 2.928, 2.928, 2.914, 2.915, 2.943, 2.736, 2.457]
    random_purchases = gen_ran_num(1, max_duplicates)
    #print(random_purchases)
    if random_purchases < len(slice_df):
        slice_df = slice_df[:random_purchases]
    else:
        to_append = random_purchases - len(slice_df)
        for i in range(to_append):
            slice_df = slice_df.append(slice_df.iloc[gen_ran_num(0, len(slice_df)-1)]).reset_index(drop=True)
            slice_df.date[i] = generate_ran_date(2018, month, day, end_day)
            #multiplying the gallons by the gas price of the month purchased
            slice_df.amount[i] = gas_prices_by_mo[0]*gen_ran_float(min_price, max_price)
    return slice_df

In [ ]:
gas_prices_by_mo = [2.671, 2.705, 2.709, 2.873, 2.987, 2.928, 2.928, 2.914, 2.915, 2.943, 2.736, 2.457]
sum(gas_prices_by_mo)/12

In [ ]:
gas = temp_df.loc[temp_df['identifier'] == 'gas'].reset_index(drop=True)
#multiplying jan gas prices by average gallons bought by week
gas['amount'] = [gas_prices_by_mo[0]*gen_ran_float(11, 14) for i in range(len(gas))]

In [ ]:
create_random_gas(gas, 6, 11, 14, 1, 1, 31)

### Making a List of Lists of the first and last day of the month for datetime interval

In [ ]:
months = []
for i in range(13):
    if  i != 0:
        months.append([[2018, i, 1], [2018, i, get_end_month(2018, i)]])

In [ ]:
# for i in range(len(months)):
#     print(f'month = {months[i][0][1]}')
#     print(f'first day {months[i][0][2]}')
#     print(f'last_day {months[i][1][2]}')
#     break

In [ ]:
#create_random_gas(gas, 6, 11, 14, months[0][0][1], months[0][0][2], months[0][1][2])

In [ ]:
all_gas = pd.DataFrame()
for i in range(len(months)):
    all_gas = all_gas.append(create_random_gas(gas, 6, 11, 14, months[i][0][1], months[i][0][2], months[i][1][2])).reset_index(drop=True)

In [ ]:
all_gas['amount'].sum()

In [ ]:
temp_df['identifier'].unique()