In [1]:
import pandas as pd
import datetime
import random

# Generating Seed Data
---
- Making selected identifiers and transactions for sample data

In [2]:
transaction_dict = {
    'gas':['QuikTrip 0000 00000000 ATLANTA GA',
       'SHELL OIL 00000000000 EAST POINT GA',
       'EXXON 000000-00 ATLANTA, GA'],
    
'groceries' : ['KROGER #000 STONE MOUNTAIN GA',
            'PUBLIX SUPERMAR #0000 DECATOR, GA',
            'WHOLE FOODS 000000 ATLANTA, GA',
            'COSTCO 000 000000000000 DULUTH, GA'],

'grooming' : ['CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA',
           'BATH AND BODY WORKS 0000 LAWRENCEVILLE GA'],

'homeimprov':['LOWES #00000* BUFORD GA',
             'TRACTOR SUPPLY CO #0000 GRAYSON GA',
             'THE HOME DEPOT #0000 NORCROSS GA'],

'medical' : ['CVS/PHARMACY #0000 SUWANEE GA', 
          'WALGREENS #00000 WINDER GA',
          'DRROBERTPARK OPTOMETRIST & ASSoc SNELLVILLE, GA',
          'GREATER ATLANTA PEDIATRICS STONEMOUNTAIN GA',
          'EMORYUNV HOSPITAL 78979879 ATLANTA GA',
             'ATLANTA GYO&OB *0000000 DECATUR GA '],

'conveyance' :['E ZPASS MD CSC0000000 000-0000000 MD',
              'AUTOZONE 0000 STONEMOUNTAIN GA',
              'ADVANCE AUTO PARTS #0000 LITHONIA GA',
             'EXPRESSOILCHANGE 00*0000000-0 SNELLVILLE, GA',
             'NORTHERN TOOL 00 000000 000 SNELLVILLE, GA'],

'takeaway': ['PANERA BREAD #000000 P ATLANTA GA', 
        'CHICK-FIL-A #00000 TUCKER GA',
        "WENDY'S LOGAN LOGANVILLE GA",
        'BOJANGLES 0000 DULUTH GA',
        'COOK OUT LITHONIA GA 0 LITHONIA GA',
        'TROPICAL SMOOTHIE CAFE GA DECATUR GA',
        'HARDEES 0000 LILBURN GA',
        'PANDA EXPRESS 00000H TUCKER GA',
        'KFC G00000 DECATUR GA',
        'Subway 00000 Lithonia GA',
        'STARBUCKS STORE 0000 ATLANTA GA'],

'utility' :['COX INTERNET 1233456 GA',
           'VZWRLSS*APOCC VISW 000-000-0000 FL',
          'T-MOBILE 0000 00000 00000 ATLANTA GA',
          'GEORGIAPOWERCO 000000 ATLANTA GA',
          'CITYOFDECATUR PUBLIC WORKS 0000000 GA'],

'clothing' : ['ROSS STORES # 0000 TUCKER GA',
           'BATH AND BODY WORKS 0000 STONECREST GA',
           'WAL-MART #0000 STONEMOUNTAIN GA',
           "KOHL'S #0000 SNELLVILLE GA",
           'TARGET 00000000 TUCKER GA',
           'WM SUPERCENTER #0000 CHAMBLEE GA'],

'holiday' : [
    'AMERICAN AIR 00-00000000000 MINNEAPOLIS, MN',
    'EXPEDIA 00000000000000 EXPEDIA.COM WA',
    'UNITED 000000000000 000-000-0000 TX'
    'SANDALSOCHI JAMAICA *008900088899 JAMAICA'],

'streaming' : ['Disney PLUS Burbank CA',
             'AMZN Mktp US*0A0000000 Amzn.com/bill WA',
             'APPLE.COM/BILL 000-000-0000 CA'],

'work': ['PAYPAL *LINKEDIN 000-000-0000 CA',
       'OFFICEMAX/DEPOT 0000 peachtree corners GA',
        'BEST BUY 000000 TUCKER GA'],
  
'gift':['Etsy.com - leatherwork00 000-0000000 NY', 
      'SHUTTERFLY, INC. 000-000000000 CA',
     'PeachTree FLOWERS 0000000 ATLANTA, GA'],

'baby': ['buybuy BABY 000000 Snellville Ga',
       'POTTERYBARN KIDS 000 000000 ATL GA',
       'CARTERS KIDS 00 00 00000 LAWERENCEVILLE GA',
       'BABYGAP 0-0000-000 Atlanta GA'],

'wedding' : ['TIFFANY&CO *90-000009- ATLANTA GA',
          'helzbergDiamonds 70000-000 ATLANTA GA',
          'BrianneMcMullan Events llc *999*9999****** GA',
          'ATLBOTANICALGAR ATLANTA GA',
          'the White Magnolia Bridal ATLANTA GA',
          'RACHMAKESCAKES ATL GA'],

'furniture':['IKEACO 88888888888 ATLANTA GA',
           'BEDBATHBEYOND 898098098 snellville, GA',
            'ASHLEY FURNITURE 8****9999 ATHENS GA']}

# Putting Dict into a DF
---

In [3]:
temp_df = pd.DataFrame()
for key, value in transaction_dict.items():
    temp_df[key] = pd.Series(value)

In [4]:
temp_df.head()

,gas,groceries,grooming,homeimprov,medical,conveyance,takeaway,utility,clothing,holiday,streaming,work,gift,baby,wedding,furniture
0,QuikTrip 0000 00000000 ATLANTA GA,KROGER #000 STONE MOUNTAIN GA,CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA,LOWES #00000* BUFORD GA,CVS/PHARMACY #0000 SUWANEE GA,E ZPASS MD CSC0000000 000-0000000 MD,PANERA BREAD #000000 P ATLANTA GA,COX INTERNET 1233456 GA,ROSS STORES # 0000 TUCKER GA,"AMERICAN AIR 00-00000000000 MINNEAPOLIS, MN",Disney PLUS Burbank CA,PAYPAL *LINKEDIN 000-000-0000 CA,Etsy.com - leatherwork00 000-0000000 NY,buybuy BABY 000000 Snellville Ga,TIFFANY&CO *90-000009- ATLANTA GA,IKEACO 88888888888 ATLANTA GA
1,SHELL OIL 00000000000 EAST POINT GA,"PUBLIX SUPERMAR #0000 DECATOR, GA",BATH AND BODY WORKS 0000 LAWRENCEVILLE GA,TRACTOR SUPPLY CO #0000 GRAYSON GA,WALGREENS #00000 WINDER GA,AUTOZONE 0000 STONEMOUNTAIN GA,CHICK-FIL-A #00000 TUCKER GA,VZWRLSS*APOCC VISW 000-000-0000 FL,BATH AND BODY WORKS 0000 STONECREST GA,EXPEDIA 00000000000000 EXPEDIA.COM WA,AMZN Mktp US*0A0000000 Amzn.com/bill WA,OFFICEMAX/DEPOT 0000 peachtree corners GA,"SHUTTERFLY, INC. 000-000000000 CA",POTTERYBARN KIDS 000 000000 ATL GA,helzbergDiamonds 70000-000 ATLANTA GA,"BEDBATHBEYOND 898098098 snellville, GA"
2,"EXXON 000000-00 ATLANTA, GA","WHOLE FOODS 000000 ATLANTA, GA",NaN,THE HOME DEPOT #0000 NORCROSS GA,"DRROBERTPARK OPTOMETRIST & ASSoc SNELLVILLE, GA",ADVANCE AUTO PARTS #0000 LITHONIA GA,WENDY'S LOGAN LOGANVILLE GA,T-MOBILE 0000 00000 00000 ATLANTA GA,WAL-MART #0000 STONEMOUNTAIN GA,UNITED 000000000000 000-000-0000 TXSANDALSOCHI...,APPLE.COM/BILL 000-000-0000 CA,BEST BUY 000000 TUCKER GA,"PeachTree FLOWERS 0000000 ATLANTA, GA",CARTERS KIDS 00 00 00000 LAWERENCEVILLE GA,BrianneMcMullan Events llc *999*9999****** GA,ASHLEY FURNITURE 8****9999 ATHENS GA

# Flipping DF
---

In [5]:
temp_df.columns = temp_df.columns.str.split("_", expand =True)
temp_df = temp_df.stack(level=0).rename_axis((None, 'identifier')).reset_index('identifier').reset_index(drop=True)
temp_df = temp_df.rename(columns={temp_df.columns[1]: 'transaction'})
temp_df.head()

   identifier                                 transaction
0         gas           QuikTrip 0000 00000000 ATLANTA GA
1   groceries               KROGER #000 STONE MOUNTAIN GA
2    grooming  CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA
3  homeimprov                     LOWES #00000* BUFORD GA
4     medical               CVS/PHARMACY #0000 SUWANEE GA

# Adding Random Dates
---

In [6]:
def generate_ran_date(year, month, first_day, end_day):
    start = datetime.date(year, month, first_day)
    end = datetime.date(year, month, end_day)
    time_btw = end - start
    days_btw = time_btw.days
    rand_num = random.randrange(days_btw)
    rand_date = start + datetime.timedelta(days=rand_num)
    return rand_date

In [7]:
dates = []
for i in range(len(temp_df)):
    dates.append(generate_ran_date(2018, 1, 1, 31))
temp_df['date'] = dates

In [8]:
temp_df.head()

   identifier                                 transaction        date
0         gas           QuikTrip 0000 00000000 ATLANTA GA  2018-01-11
1   groceries               KROGER #000 STONE MOUNTAIN GA  2018-01-29
2    grooming  CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA  2018-01-20
3  homeimprov                     LOWES #00000* BUFORD GA  2018-01-17
4     medical               CVS/PHARMACY #0000 SUWANEE GA  2018-01-27

# Adding Transaction Amounts
---
- Making a sensible pattern to spending

In [9]:
temp_df['identifier'].unique()

array(['gas', 'groceries', 'grooming', 'homeimprov', 'medical',
       'conveyance', 'takeaway', 'utility', 'clothing', 'holiday',
       'streaming', 'work', 'gift', 'baby', 'wedding', 'furniture'],
      dtype=object)

In [10]:
14263/12

1188.5833333333333

In [11]:
297.25/24

12.385416666666666

Average person drives 
- 14,263 miles/yr divided by 12 == 1189 miles/mo divided by 4 weeks == 297.25 miles/wk
- 297.25 miles divided by 24 miles per gallon == 12.39
- Average cost of gas in 2018 == $2.81
- [Historical Gas Prices](https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=pet&s=emm_epmr_pte_nus_dpg&f=m)

In [12]:
gas_prices_by_mo = [2.671, 2.705, 2.709, 2.873, 2.987, 2.928, 2.928, 2.914, 2.915, 2.943, 2.736, 2.457]
#sum(gas_prices_by_mo)/12

In [13]:
def gen_ran_num(start, stop):
    return random.randint(start, stop)
def gen_ran_float(start, stop):
    return random.uniform(start, stop)

In [14]:
# gas = temp_df.loc[temp_df['identifier'] == 'gas'].reset_index(drop=True)
# #multiplying jan gas prices by average gallons bought by week
# gas['amount'] = [gas_prices_by_mo[0]*gen_ran_float(11, 14) for i in range(len(gas))]

In [15]:
#gas

In [16]:
# #doubling a line randomly to get 4 rows
# gas = gas.append(gas.iloc[gen_ran_num(0, len(gas)-1)]).reset_index(drop=True)
# #subbing random date for that row
# gas.date[3] = generate_ran_date(2018, 1, 1, 31)
# gas.amount[3] = gas_prices_by_mo[0]*gen_ran_float(11, 14)
# gas

In [17]:
# # Specifying Randomly how many rows of gas purchases per month
# random_gas_purchases = gen_ran_num(1, 6)
# print(random_gas_purchases)
# if random_gas_purchases < len(gas):
#     gas = gas[:random_gas_purchases]
# else:
#     to_append = random_gas_purchases - len(gas)
#     for i in range(to_append):
#         gas = gas.append(gas.iloc[gen_ran_num(0, len(gas)-1)]).reset_index(drop=True)
#         gas.date[i] = generate_ran_date(2018, 1, 1, 31)
#         gas.amount[i] =gas_prices_by_mo[0]*gen_ran_float(11, 14)

In [18]:
#gas

In [34]:
gas = temp_df.loc[temp_df['identifier'] == 'gas'].reset_index(drop=True)
#multiplying jan gas prices by average gallons bought by week
gas['amount'] = [gas_prices_by_mo[0]*gen_ran_float(11, 14) for i in range(len(gas))]

In [35]:
def create_random_gas(slice_df, max_duplicates, min_price, max_price, month, day, end_day):
    gas_prices_by_mo = [2.671, 2.705, 2.709, 2.873, 2.987, 2.928, 2.928, 2.914, 2.915, 2.943, 2.736, 2.457]
    random_purchases = gen_ran_num(1, max_duplicates)
    #print(random_purchases)
    if random_purchases < len(slice_df):
        slice_df = slice_df[:random_purchases]
    else:
        to_append = random_purchases - len(slice_df)
        for i in range(to_append):
            slice_df = slice_df.append(slice_df.iloc[gen_ran_num(0, len(slice_df)-1)]).reset_index(drop=True)
            slice_df.date[i] = generate_ran_date(2018, month, day, end_day)
            #multiplying the gallons by the gas price of the month purchased
            slice_df.amount[i] =gas_prices_by_mo[0]*gen_ran_float(min_price, max_price)
    return slice_df

In [36]:
create_random_gas(gas, 6, 11, 14, 1, 1, 31)

/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

  identifier                          transaction        date     amount
0        gas    QuikTrip 0000 00000000 ATLANTA GA  2018-01-29  31.212500
1        gas  SHELL OIL 00000000000 EAST POINT GA  2018-01-30  31.761795
2        gas          EXXON 000000-00 ATLANTA, GA  2018-01-17  31.074330
3        gas    QuikTrip 0000 00000000 ATLANTA GA  2018-01-11  33.309649
4        gas  SHELL OIL 00000000000 EAST POINT GA  2018-01-20  30.673334