# DEPENDENCIES

-------------------------------------------------------------------------------------------------------------------

In [1]:
#!/usr/bin/env python3
# coding: utf-8

# color pallet greens https://coolors.co/34463e-a4c3b2-cce3de-eaf4f4-f6fff8
# color pallet secondary https://coolors.co/353535-3c6e71-ffffff-d9d9d9-284b63

import numpy as np
import plotly.graph_objects as go
import plotly.io as pio
import pandas as pd
import os

#Orca must be installed?
#conda install -c plotly plotly-orca
#Kaleido is for exporting images from plotly
#pip install -U kaleido

# DATA

-------------------------------------------------------------------------------------------------------------------

In [2]:
data_df = pd.read_csv('../data_local/test/organized.csv')
col_names = []
for col in data_df.columns:
    col_names.append(col)
col_data = []
for i in col_names:
    col_data.append(data_df[i])

In [3]:
data_df = data_df.drop(columns = ['date_p', 'account', 'balance'])
#data_df.iloc[[300]]

# STACKED BAR GRAPH

-------------------------------------------------------------------------------------------------------------------

In [4]:
# pos_amount = [i*-1 for i in data_df['amount']]
# import plotly.express as px
# #wide_df = px.data.medals_wide()
# fig = px.bar(data_df,
#              x="date", y= data_df['category'],
#              color = pos_amount,
#              title="Total Spending by Category by Day")
# fig.show()

In [5]:
type(data_df['amount'][0])

numpy.float64

In [6]:
#categories = data_df['category'].unique()
# sum_amount = data_df.loc[data_df['category'] == 'food']
# sum_amount['amount'].sum().round(2)

In [7]:
# Need to make a DF where all the unique categories are summed

In [8]:
sum_categories = data_df.groupby(['category', 'date']).sum().sort_values("date")
# sum_categories = sum_categories.rename(columns={'category':'categories'})
sum_categories

                       amount
category  date
take_away 2020-04-30   -16.00
other     2020-04-30 -1023.29
payment   2020-05-04  1835.52
gas       2020-05-09  -411.45
take_away 2020-05-09   -18.73
...                       ...
gas       2021-05-19    -6.24
take_away 2021-05-20   -34.31
utility   2021-05-21   -54.99
home      2021-05-23   -47.47
online    2021-05-24   -20.13

[662 rows x 1 columns]

In [9]:
#sum_categories['categories'] = sum_categories.index
sum_categories.reset_index(inplace = True)
sum_categories['amount'] = [i*-1 for i in sum_categories['amount']]
sum_categories = sum_categories[['category', 'amount']]
sum_categories

      category   amount
0    take_away    16.00
1        other  1023.29
2      payment -1835.52
3          gas   411.45
4    take_away    18.73
..         ...      ...
657        gas     6.24
658  take_away    34.31
659    utility    54.99
660       home    47.47
661     online    20.13

[662 rows x 2 columns]

In [10]:
cats = sorted(list(sum_categories.category.unique()))
cats.remove('payment')
cats

['beauty products',
 'clothing',
 'conveyance',
 'education',
 'entertainment',
 'fee',
 'gas',
 'gift',
 'groceries',
 'holiday',
 'home',
 'interest',
 'medical',
 'online',
 'other',
 'pet',
 'restaurant',
 'sundries',
 'take_away',
 'utility',
 'work']

In [11]:
summed_cats = []
for i in cats:
    summed_cats.append(int(round(sum_categories.loc[sum_categories['category'] == i].amount.sum())))
#summed_cats

In [12]:
total_spending = sum(summed_cats)
total_spending
percent = []
for i in summed_cats:
    i = i * -1
    percent.append(round(i/(total_spending*-1)*100))
percent

[0, 8, 7, 7, 2, 2, 6, 0, 11, 1, 4, 1, 3, 12, 3, 10, 2, 0, 3, 12, 6]

In [13]:
sum_totals = pd.DataFrame()
sum_totals['categories'] = cats
sum_totals['amounts'] = summed_cats
sum_totals['percent'] = percent
sum_totals

         categories  amounts  percent
0   beauty products      122        0
1          clothing     4459        8
2        conveyance     3932        7
3         education     3997        7
4     entertainment     1303        2
5               fee     1054        2
6               gas     3570        6
7              gift      177        0
8         groceries     6380       11
9           holiday      587        1
10             home     2210        4
11         interest      326        1
12          medical     1921        3
13           online     6945       12
14            other     1734        3
15              pet     5738       10
16       restaurant     1351        2
17         sundries      231        0
18        take_away     2039        3
19          utility     7177       12
20             work     3394        6

In [14]:
# import plotly.express as px
# #wide_df = px.data.medals_wide()
# fig = px.bar(sum_categories,
#              x="date", y= sum_categories['category'],
#              color = 'amount',
#              labels = {'category':'amount'},
#              title="Total Spending by Category by Day")
# fig.show()

In [15]:
# import plotly.express as px
# #wide_df = px.data.medals_wide()
# fig = px.bar(sum_categories, x="date", y= sum_categories['amount'], color ='amount', title="Total Spending by Category by Day")
# fig.show()

# ORIGINAL STACKED BAR GRAPH

-------------------------------------------------------------------------------------------------------------------

In [45]:
# import plotly.express as px
# wide_df = px.data.medals_wide()
# fig = px.bar(wide_df, x="nation", y=["gold", "silver", "bronze"], title="Wide-Form Input")
# fig.show()

# TREEEMAP CHART

-------------------------------------------------------------------------------------------------------------------

In [41]:
# Need new TreeMap code, this one is not so pretty

# essential.keys()

# groups = list(essential.keys())
# priority = ['Essential' for i in range(len(groups))]
# nums = constrain_sum(len(groups), 100)
# percentages = [str(nums[i])+'%' for i in range(len(nums))]

# groups

# df = pd.DataFrame(
#     {
#         'priority': priority,
#         'categories':groups,
#         'values': nums,
#         'percentages':percentages
#                   })

# import squarify
# import matplotlib.pyplot as plt
# # plot it
# labels = [df['categories'][i].capitalize()+(' \n'+ str(nums[i])+'%') for i in range(len(df['categories']))]

# squarify.plot(sizes=df['values'], label=labels, alpha=.4, color= rainbow_colors[:len(groups)+1])
# plt.axis('off')
# plt.show()

# ALTERNATE TREEMAP

-------------------------------------------------------------------------------------------------------------------

- FIX Legend
- Change rainbow colors from a list to a dictionary and grab the correct values accordingly'
- ie if data 100-90 red, 90-80 orange, 80-70 yellow, 70-60 green, 60-50 blue, 50-40, purple and on until 10-0
- fix hover put something relevant

In [42]:
groups_all = list(essential.keys()) + list(non_essential)
nums_all = constrain_sum(len(groups_all), 100)
priority_all = ['Essential' if x in essential.keys() else 'Non Essential' for x in groups_all]
percentages_all = [str(nums_all[i])+'%' for i in range(len(nums_all))]
# Create a data frame with fake data
# df = pd.DataFrame({'nb_people':[8,3,4,2],
#                    'group':["Housing\n 40%",
#                             "Utilities\n 10%",
#                             "Food\n 10%",
#                             "Entertainment\n 10%"]})
df_all = pd.DataFrame(
    {
        'priority': priority_all,
        'categories':groups_all,
        'values': nums_all,
        'percentages':percentages_all
                  })

In [43]:
colors_all = rainbow_colors[:len(groups_all)+1]
counter = len(colors_all)
while counter < len(df_all):
    colors_all.append(rainbow_colors[len(df_all)-counter])
    counter += 1
colors_all

['#F94144',
 '#f3722c',
 '#F9844A',
 '#f8961e',
 '#F9C74F',
 '#90BE6D',
 '#43AA8B',
 '#4D908E',
 '#277DA1',
 '#577590',
 '#43AA8B',
 '#90BE6D',
 '#F9C74F',
 '#f8961e',
 '#F9844A',
 '#f3722c']

In [44]:
print(sorted(df['values']))

NameError: name 'df' is not defined

In [ ]:
df_all

In [ ]:
sorted_df = df_all.sort_values(by=['values', 'categories']).reset_index(drop=True)
sorted_df

In [ ]:
import plotly.express as px
fig = px.treemap(df_all.sort_values(by=['values','categories']).reset_index(drop=True), path=['priority', 'categories', 'percentages'], 
                 values='values', 
                 color='values')
fig.update_traces(marker_colors= colors_all, selector=dict(type='treemap')) 
#fig.update_traces(pathbar_visible=False, selector=dict(type='treemap'))
fig.show()

## Sample Data

In [ ]:
# px.data.tips()

# import plotly.express as px
  
# df = px.data.tips()
  
# fig = px.treemap(df, path=['day', 'time', 'tip'], 
#                  values='total_bill', 
#                  color='total_bill')

# fig.show()

# import plotly.express as px

# for name in dir(px.data):
#     if '__' not in name:
#         print(name)

# print(px.data.tips())