# Notes
---
- Need to go back into each category and add actual end date based on month chosen rather than just using the 1st - 28th

In [1]:
import pandas as pd
import datetime
from datetime import timedelta
import random
import calendar

### Using Tabula to import chart data from Bureau of Labor Statistics
---

In [2]:
#import tabula
# file = '../resources/cesan.pdf'
# table = tabula.read_pdf(file, pages=5)

In [3]:
# test = table[0].copy()#.columns({'Unnamed: 0':'first'})

In [4]:
# test.to_csv('consumer_spending.csv', index=False)

In [5]:
table = pd.read_csv('consumer_spending.csv').reset_index(drop=True)
table = table.rename(columns={table.columns[0]:'category',table.columns[1]:'2018', table.columns[2]:'2019', table.columns[3]:'2020'})
# table['category'] = table['category'].str.replace(r'[^\w\s]+','')
# table['2018'] = table['2018'].str.replace(r'[^\w\s]+','')
for i in table.columns:
    table[i] = table[i].str.replace(r'[^\w\s]+','')
table= table[['category', '2018', '2019', '2020']]
table= table.iloc[2:18].reset_index(drop=True)
#table

keep_list = ['Food', 'Housing', 'Apparel and services']
#for i in keep_list:
keep = table.loc[(table.category == 'Food')|
                 (table.category == 'Housing')|
                 (table.category == 'Apparel and services')|
                 (table.category == 'Average income before taxes')|
                 (table.category == 'Average annual expenditures')].reset_index(drop=True)

# 2nd table on page 6 is too messy easier to type out answers 2018
appendlist = [['transportation', 9761, 10742, 9826],
['healthcare', 4968, 5193, 5177],
['entertainment', 3226, 3050, 2912],
['personal_care_products', 768, 768, 864],
['reading', 108, 92, 114],
['education', 1407, 1443, 1271],
['tobacco', 347, 320, 315],
['misc', 993, 899, 907],
['cash_contrib', 1888, 1995, 2283],
['personal_insurance_pensions', 7296, 7165, 7246]]

for i in appendlist:
    #print(i)
    keep2 = pd.Series(i, index=['category', '2018', '2019', '2020'])
    #print(keep2)
    keep  = keep.append(keep2, ignore_index = True)
#lowering categories
keep.category = keep.category.str.lower()
keep

                       category   2018   2019   2020
0   average income before taxes  78635  82852  84352
1   average annual expenditures  61224  63036  61334
2                          food   7923   8169   7316
3                       housing  20091  20679  21409
4          apparel and services   1866   1883   1434
5                transportation   9761  10742   9826
6                    healthcare   4968   5193   5177
7                 entertainment   3226   3050   2912
8        personal_care_products    768    768    864
9                       reading    108     92    114
10                    education   1407   1443   1271
11                      tobacco    347    320    315
12                         misc    993    899    907
13                 cash_contrib   1888   1995   2283
14  personal_insurance_pensions   7296   7165   7246

In [6]:
# Adding percentage of average income to category column
keep['2018'] = keep['2018'].astype(int)
keep['2019'] = keep['2019'].astype(int)
keep['2020'] = keep['2020'].astype(int)
add_perc = []
for i in range(len(keep['2020'])):
    #print(keep['2018'][i])
    total = keep['2020'].sum()
    add_perc.append(round(keep['2020'][i]/keep['2020'][2:].sum()*100, 2))

keep['percentage_2020'] = add_perc
keep['percentage_2020'][0] = 0
keep['percentage_2020'][1] = 0
add_perc = []
for i in range(len(keep['2019'])):
    #print(keep['2018'][i])
    total = keep['2019'].sum()
    add_perc.append(round(keep['2019'][i]/keep['2019'][2:].sum()*100, 2))

keep['percentage_2019'] = add_perc
keep['percentage_2019'][0] = 0
keep['percentage_2019'][1] = 0
add_perc = []
for i in range(len(keep['2018'])):
    #print(keep['2018'][i])
    total = keep['2018'].sum()
    add_perc.append(round(keep['2018'][i]/keep['2018'][2:].sum()*100, 2))

keep['percentage_2018'] = add_perc
keep['percentage_2018'][0] = 0
keep['percentage_2018'][1] = 0

/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:13: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  del sys.path[0]
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:21: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:22: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:30: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:31: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [7]:
# Tax bracket 2018 82501-157500 = 24%
income = 95000
keep['test_income'] = [income * keep['percentage_2018'][i]/100 for i in range(len(keep))]
keep['test_income'][0] = income*.24+income
keep['test_income'][1] = keep['test_income'][2:].sum()
keep

/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

,category,2018,2019,2020,percentage_2020,percentage_2019,percentage_2018,test_income
0,average income before taxes,78635,82852,84352,0.00,0.00,0.00,117800.0
1,average annual expenditures,61224,63036,61334,0.00,0.00,0.00,95009.5
2,food,7923,8169,7316,11.98,13.09,13.07,12416.5
3,housing,20091,20679,21409,35.05,33.14,33.13,31473.5
4,apparel and services,1866,1883,1434,2.35,3.02,3.08,2926.0
5,transportation,9761,10742,9826,16.09,17.22,16.10,15295.0
6,healthcare,4968,5193,5177,8.48,8.32,8.19,7780.5
7,entertainment,3226,3050,2912,4.77,4.89,5.32,5054.0
8,personal_care_products,768,768,864,1.41,1.23,1.27,1206.5
9,reading,108,92,114,0.19,0.15,0.18,171.0
10,education,1407,1443,1271,2.08,2.31,2.32,2204.0
11,tobacco,347,320,315,0.52,0.51,0.57,541.5
12,misc,993,899,907,1.49,1.44,1.64,1558.0
13,cash_contrib,1888,1995,2283,3.74,3.20,3.11,2954.5
14,personal_insurance_pensions,7296,7165,7246,11.86,11.48,12.03,11428.5

# Generating Seed Data
---
- Making selected identifiers and transactions for sample data

In [8]:
transaction_dict = {
    'gas':['QuikTrip 0000 00000000 ATLANTA GA',
       'SHELL OIL 00000000000 EAST POINT GA',
       'EXXON 000000-00 ATLANTA, GA',
        'QuikTrip 1234 00000000 ATLANTA GA',
       'SHELL OIL 1111000000 EAST POINT GA',
       'EXXON 222200-00 ATLANTA, GA'],
    
'groceries' : ['KROGER #000 STONE MOUNTAIN GA',
            'PUBLIX SUPERMAR #0000 DECATOR, GA',
            'WHOLE FOODS 000000 ATLANTA, GA',
            'COSTCO 000 000000000000 DULUTH, GA'],

'grooming' : ['CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA',
           'BATH AND BODY WORKS 0000 LAWRENCEVILLE GA'],

'homeimprov':['LOWES #00000* BUFORD GA',
             'TRACTOR SUPPLY CO #0000 GRAYSON GA',
             'THE HOME DEPOT #0000 NORCROSS GA',
             'BEDBATH&BEYONDNE ATLANTA GA'],

'medical' : ['CVS/PHARMACY #0000 SUWANEE GA', 
          'WALGREENS #00000 WINDER GA',
          'DRROBERTPARK OPTOMETRIST & ASSoc SNELLVILLE, GA',
          'GREATER ATLANTA PEDIATRICS STONEMOUNTAIN GA',
          'EMORYUNV HOSPITAL 78979879 ATLANTA GA',
             'ATLANTA GYO&OB *0000000 DECATUR GA '],

'conveyance' :['GA EZPASS CSC0000000 000-0000000 ',
              'AUTOZONE 0000 STONEMOUNTAIN GA',
              'ADVANCE AUTO PARTS #0000 LITHONIA GA',
             'EXPRESSOILCHANGE 00*0000000-0 SNELLVILLE, GA',
             'NORTHERN TOOL 00 000000 000 SNELLVILLE, GA',
              'DISCOUNTTIRE 1233333 CHAMBLEE, GA'],

'takeaway': ['PANERA BREAD #000000 P ATLANTA GA', 
        'CHICK-FIL-A #00000 TUCKER GA',
        "WENDY'S LOGAN LOGANVILLE GA",
        'BOJANGLES 0000 DULUTH GA',
        'COOK OUT LITHONIA GA 0 LITHONIA GA',
        'TROPICAL SMOOTHIE CAFE GA DECATUR GA',
        'HARDEES 0000 LILBURN GA',
        'PANDA EXPRESS 00000H TUCKER GA',
        'KFC G00000 DECATUR GA',
        'Subway 00000 Lithonia GA',
        'STARBUCKS STORE 0000 ATLANTA GA'],

'utility' :['COX INTERNET 1233456 GA',
           'VZWRLSS*APOCC VISW 000-000-0000 FL',
          'LIBERTY UTILITIES*GAS 0000 00000 00000 GAINSVILLE GA',
          'GEORGIAPOWERCO 000000 ATLANTA GA',
          'CITYOFDECATUR PUBLIC WORKS 0000000 GA'],

'clothing' : ['ROSS STORES # 0000 TUCKER GA',
           'WAL-MART #0000 STONEMOUNTAIN GA',
           "KOHL'S #0000 SNELLVILLE GA",
           'TARGET 00000000 TUCKER GA',
           'WM SUPERCENTER #0000 CHAMBLEE GA'],

'holiday' : [
    'AMERICAN AIR 00-00000000000 MINNEAPOLIS, MN',
    'EXPEDIA 00000000000000 EXPEDIA.COM WA',
    'UNITED 000000000000 000-000-0000 TX',
    'SANDALSOCHI JAMAICA *008900088899 JAMAICA'],

'entertainment' : ['NETFLIXX ******9009 GATOS, CA',
               'Disney PLUS Burbank CA',
             'AMZN Mktp US*0A0000000 Amzn.com/bill WA',
             'APPLE.COM/BILL 000-000-0000 CA',
            'AMC SUGARLOAFMILLS-18 LAWRENCEVILLE GA',
            'REGALIMAX MALLGA ****78999 BUFORD GA'],

'work': ['PAYPAL *LINKEDIN 000-000-0000 CA',
       'OFFICEMAX/DEPOT 0000 peachtree corners GA',
        'BEST BUY 000000 TUCKER GA'],
  
'gift':['Etsy.com - leatherwork00 000-0000000 NY', 
      'SHUTTERFLY, INC. 000-000000000 CA',
     'PeachTree FLOWERS 0000000 ATLANTA, GA'],

'baby': ['buybuy BABY 000000 Snellville Ga',
       'POTTERYBARN KIDS 000 000000 ATL GA',
       'CARTERS KIDS 00 00 00000 LAWERENCEVILLE GA',
       'BABYGAP 0-0000-000 Atlanta GA'],

'wedding' : ['TIFFANY&CO *90-000009- ATLANTA GA',
          'helzbergDiamonds 70000-000 ATLANTA GA',
          'BrianneMcMullan Events llc *999*9999****** GA',
          'ATLBOTANICALGAR ATLANTA GA',
          'the White Magnolia Bridal ATLANTA GA',
          'RACHMAKESCAKES ATL GA'],

'furniture':['IKEACO 88888888888 ATLANTA GA',
           'BEDBATHBEYOND 898098098 snellville, GA',
            'ASHLEY FURNITURE 8****9999 ATHENS GA']}

# Putting Dict into a DF
---

In [9]:
temp_df = pd.DataFrame()
for key, value in transaction_dict.items():
    temp_df[key] = pd.Series(value)

In [10]:
#temp_df.head()

# Flipping DF
---

In [11]:
temp_df.columns = temp_df.columns.str.split("_", expand =True)
temp_df = temp_df.stack(level=0).rename_axis((None, 'category')).reset_index('category').reset_index(drop=True)
temp_df = temp_df.rename(columns={temp_df.columns[1]: 'transaction'})
temp_df.head()

     category                                 transaction
0         gas           QuikTrip 0000 00000000 ATLANTA GA
1   groceries               KROGER #000 STONE MOUNTAIN GA
2    grooming  CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA
3  homeimprov                     LOWES #00000* BUFORD GA
4     medical               CVS/PHARMACY #0000 SUWANEE GA

# Adding Random Dates
---

In [12]:
def get_end_month(year, month):
    end = calendar.monthrange(year, month)
    return end[1]

In [13]:
def generate_ran_date(year, month, first_day, end_day):
    start = datetime.date(year, month, first_day)
    end = datetime.date(year, month, end_day)
    time_btw = end - start
    days_btw = time_btw.days
    rand_num = random.randrange(days_btw)
    rand_date = start + datetime.timedelta(days=rand_num)
    return rand_date

In [14]:
dates_pending = []
dates_posted = []
for i in range(len(temp_df)):
    pending_date = generate_ran_date(2018, 1, 1, 31)
    posted_date = pending_date + timedelta(days=1)
    dates_pending.append(pending_date)
    dates_posted.append(posted_date)
temp_df['date_pending'] = dates_pending
temp_df['date_posted'] = dates_posted
temp_df['amount'] = [0 for i in range(len(temp_df))]

### Making a List of Lists of the first and last day of the month for datetime interval

In [15]:
months = []
for i in range(13):
    if  i != 0:
        months.append([[2018, i, 1], [2018, i, get_end_month(2018, i)]])

In [16]:
master = temp_df
master

,category,transaction,date_pending,date_posted,amount
0,gas,QuikTrip 0000 00000000 ATLANTA GA,2018-01-20,2018-01-21,0
1,groceries,KROGER #000 STONE MOUNTAIN GA,2018-01-08,2018-01-09,0
2,grooming,CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA,2018-01-26,2018-01-27,0
3,homeimprov,LOWES #00000* BUFORD GA,2018-01-14,2018-01-15,0
4,medical,CVS/PHARMACY #0000 SUWANEE GA,2018-01-29,2018-01-30,0
...,...,...,...,...,...
68,medical,ATLANTA GYO&OB *0000000 DECATUR GA,2018-01-24,2018-01-25,0
69,conveyance,"DISCOUNTTIRE 1233333 CHAMBLEE, GA",2018-01-19,2018-01-20,0
70,takeaway,TROPICAL SMOOTHIE CAFE GA DECATUR GA,2018-01-25,2018-01-26,0
71,entertainment,REGALIMAX MALLGA ****78999 BUFORD GA,2018-01-02,2018-01-03,0
72,wedding,RACHMAKESCAKES ATL GA,2018-01-28,2018-01-29,0

# Adding Transaction Amounts
---
- Making a sensible pattern to spending
- [US Bureau of Statistics Consumer Expendatures 2020](https://www.bls.gov/news.release/pdf/cesan.pdf)

In [17]:
temp_df['category'].unique()

array(['gas', 'groceries', 'grooming', 'homeimprov', 'medical',
       'conveyance', 'takeaway', 'utility', 'clothing', 'holiday',
       'entertainment', 'work', 'gift', 'baby', 'wedding', 'furniture'],
      dtype=object)

### Average person drives 
- 14,263 miles/yr divided by 12 == 1189 miles/mo divided by 4 weeks == 297.25 miles/wk
- 297.25 miles/wk divided by 24 miles per gallon == 12.39
- Average cost of gas in 2018 == $2.81
- Monthly average spending
- [Historical Gas Prices](https://www.eia.gov/dnav/pet/hist/LeafHandler.ashx?n=pet&s=emm_epmr_pte_nus_dpg&f=m)

In [18]:
14263/24*2.813

1671.7424583333334

In [19]:
def gen_ran_num(start, stop):
    return random.randint(start, stop)
def gen_ran_float(start, stop):
    return random.uniform(start, stop)

# Adding gas purchases
- Using a random amount between the min price 11 and the max price 14 and a random amount up top 6
- Adding in gas purchases

In [20]:
gas_prices_by_mo = [2.671, 2.705, 2.709, 2.873, 2.987, 2.928, 2.928, 2.914, 2.915, 2.943, 2.736, 2.457]
gas = temp_df.loc[temp_df['category'] == 'gas'].reset_index(drop=True)
#multiplying jan gas prices by average gallons bought by week
gas['amount'] = [gas_prices_by_mo[0]*gen_ran_float(11, 14) for i in range(len(gas))]
gas

,category,transaction,date_pending,date_posted,amount
0,gas,QuikTrip 0000 00000000 ATLANTA GA,2018-01-20,2018-01-21,30.481369
1,gas,SHELL OIL 00000000000 EAST POINT GA,2018-01-09,2018-01-10,29.553100
2,gas,"EXXON 000000-00 ATLANTA, GA",2018-01-25,2018-01-26,33.914405
3,gas,QuikTrip 1234 00000000 ATLANTA GA,2018-01-25,2018-01-26,29.913730
4,gas,SHELL OIL 1111000000 EAST POINT GA,2018-01-02,2018-01-03,31.591161
5,gas,"EXXON 222200-00 ATLANTA, GA",2018-01-11,2018-01-12,30.494546

In [21]:
# Format #create_random_gas(gas, 6, 11, 14, 2, 1, 28)
def create_random_gas(slice_df, max_duplicates, min_price, max_price, month, day, end_day):
    gas_prices_by_mo = [2.671, 2.705, 2.709, 2.873, 2.987, 2.928, 2.928, 2.914, 2.915, 2.943, 2.736, 2.457]
    random_purchases = gen_ran_num(1, max_duplicates)
    copy_df = pd.DataFrame(columns = slice_df.columns)
    if random_purchases <=len(slice_df):#####
        to_append = random_purchases
        for i in range(to_append):
            copy_df = copy_df.append(slice_df.iloc[gen_ran_num(0, len(slice_df)-1)]).reset_index(drop=True)
            copy_df.date_pending[i] = generate_ran_date(2018, month, day, end_day)
            copy_df.date_posted[i] = copy_df.date_pending[i] + timedelta(days=1)
            copy_df.amount[i] = gas_prices_by_mo[0]*gen_ran_float(min_price, max_price)
    else:
        for i in range(random_purchases):
            copy_df = copy_df.append(slice_df.iloc[gen_ran_num(0, len(slice_df)-1)]).reset_index(drop=True)
            copy_df.date[i] = generate_ran_date(2018, month, day, end_day)
            #multiplying the gallons by the gas price of the month purchased
            copy_df.amount[i] = gas_prices_by_mo[0]*gen_ran_float(min_price, max_price)
    return copy_df

In [22]:
gas

,category,transaction,date_pending,date_posted,amount
0,gas,QuikTrip 0000 00000000 ATLANTA GA,2018-01-20,2018-01-21,30.481369
1,gas,SHELL OIL 00000000000 EAST POINT GA,2018-01-09,2018-01-10,29.553100
2,gas,"EXXON 000000-00 ATLANTA, GA",2018-01-25,2018-01-26,33.914405
3,gas,QuikTrip 1234 00000000 ATLANTA GA,2018-01-25,2018-01-26,29.913730
4,gas,SHELL OIL 1111000000 EAST POINT GA,2018-01-02,2018-01-03,31.591161
5,gas,"EXXON 222200-00 ATLANTA, GA",2018-01-11,2018-01-12,30.494546

In [23]:
all_gas = pd.DataFrame()
for i in range(len(months)):
    if i > 0:
        all_gas = all_gas.append(create_random_gas(gas, 6, 11, 14, months[i][0][1], months[i][0][2], months[i][1][2])).reset_index(drop=True)
all_gas = all_gas.append(gas)

/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:10: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # Remove the CWD from sys.path while we load stuff.
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:11: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  # This is added back by InteractiveShellApp.init_path()
/Users/Jen/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

In [24]:
all_gas = all_gas.sort_values(by='date_posted').reset_index(drop=True)
all_gas.amount.sum()

1498.6176701979286

In [25]:
master = master.loc[temp_df.category!= 'gas'].reset_index(drop=True)
master = master.append(all_gas).reset_index(drop=True)
master = master.sort_values(by='date_posted').reset_index(drop=True)

In [26]:
master.head()

,category,transaction,date_pending,date_posted,amount
0,conveyance,"EXPRESSOILCHANGE 00*0000000-0 SNELLVILLE, GA",2018-01-01,2018-01-02,0.0
1,holiday,EXPEDIA 00000000000000 EXPEDIA.COM WA,2018-01-02,2018-01-03,0.0
2,clothing,WAL-MART #0000 STONEMOUNTAIN GA,2018-01-02,2018-01-03,0.0
3,entertainment,APPLE.COM/BILL 000-000-0000 CA,2018-01-02,2018-01-03,0.0
4,entertainment,REGALIMAX MALLGA ****78999 BUFORD GA,2018-01-02,2018-01-03,0.0

# Conveyance
---

In [27]:
convey = pd.DataFrame({'category':0, 'transaction':0, 'date_posted':0, 'date_pending':0,'amount':0}, index=[0])

### Car Payment
---

In [28]:
for i in range(12):
    i = i+1
    random_date = generate_ran_date(2018, i, 1, 2)
    convey = convey.append({'category':'conveyance',
                            'transaction':'CARMAX 00033333 LITHIA SPRINGS, GA',
                            'date_posted':random_date, 'date_pending':random_date+timedelta(days=1), 'amount':552.20}, ignore_index=True).reset_index(drop=True)

### New Tires 
---
    - cost 100 - 1000 ea
    - Adding a purchase for 4 new tires at 200ea + $13ea installed
### Brake Pad change
---
    - average cost is 150 - 300 per axl
    - 3 break pad changes @ 200ea
    
### Oil Change
---
    - $65 every 3 months
    - 5 gallons of oil for maintenance fills

# !!!!!!!!!
-date posted, date pending

In [29]:
posted_date = pending_date + timedelta(days=1)

In [30]:
#Tires
# master = master.loc[temp_df.category!= 'conveyance'].reset_index(drop=True)
tire_date = generate_ran_date(2018, 2, 1, 28)
tire_date_post = tire_date + timedelta(days=1)
convey.iloc[0]=(['conveyance',
                 'DISCOUNTTIRE 1233333 CHAMBLEE, GA',
                 tire_date,
                 tire_date_post,
                 (200+13)*4])

#Break pads
for i in range(3):
    interval_mo = random.randrange(1, 12, 3)
    random_date = generate_ran_date(2018, interval_mo, 1, 28)
    convey.loc[len(convey)+1] = ['conveyance',
                                 'DISCOUNTTIRE 1233333 CHAMBLEE, GA',
                                 random_date,
                                 random_date+timedelta(days=1),
                                 216.25]

In [31]:
#Oil Change
temp_convey = pd.DataFrame(columns=convey.columns)
for i in range(4):
    start = random.randrange(1, 14)
    stop = random.randrange(14, 28)
    interval_mo = random.randrange(1, 12, 3)
    for i in range(len(temp_convey)):
        if convey.date_pending[i].month == interval_mo:
            #print('test')
            #print(interval_mo)
            interval_mo = random.randrange(interval_mo+1, 12, 3)
            break
    date = generate_ran_date(2018, interval_mo, start, stop)
    temp_convey = temp_convey.append({'category':'conveyance',
                            'transaction':'EXPRESSOILCHANGE 00*0000000-0 SNELLVILLE, GA',
                            'date_pending':date,
                            'date_posted':date+timedelta(days=1),
                            'amount':70.20}, ignore_index=True).reset_index(drop=True)
convey = convey.append(temp_convey).reset_index(drop=True)

In [32]:
#Oil fillup
for i in range(5):
    if i%2 == 0:
        trans = 'ADVANCE AUTO PARTS #0000 LITHONIA GA'
    else:
        trans = 'AUTOZONE 0000 STONEMOUNTAIN GA'
    date = generate_ran_date(2018, random.randint(1,12) , 1, 28)
    convey = convey.append({'category':'conveyance',
                            'transaction':trans,
                            'date_pending':date,
                            'date_posted':date+timedelta(days=1),
                            'amount':random.uniform(5,8)}, ignore_index=True)

In [33]:
# First 2 months tolls are 50mo
for i in range(5):
    date = generate_ran_date(2018, random.randint(1,12) , 1, 28)
    convey = convey.append({'category':'conveyance',
                            'transaction':'GA EZPASS CSC0000000 000-0000000',
                            'date_pending':date,
                            'date_posted':date+timedelta(days=1),
                            'amount':25}, ignore_index=True)
# #Mar - Dec tolls are btw 50 and 75/mo
# for i in range(7):
#     convey = convey.append({'category':'conveyance',
#                             'transaction':'GA EZPASS CSC0000000 000-0000000',
#                             'date':generate_ran_date(2018, random.randint(3,12) , 1, 28),
#                             'amount':random.uniform(25,30)}, ignore_index=True)

In [34]:
convey = convey.sort_values(by='date_pending').reset_index(drop=True)
master = master.append(convey).sort_values(by='date_pending').reset_index(drop=True)
master

,category,transaction,date_pending,date_posted,amount
0,conveyance,"EXPRESSOILCHANGE 00*0000000-0 SNELLVILLE, GA",2018-01-01,2018-01-02,0.000000
1,gas,SHELL OIL 1111000000 EAST POINT GA,2018-01-02,2018-01-03,31.591161
2,medical,"DRROBERTPARK OPTOMETRIST & ASSoc SNELLVILLE, GA",2018-01-02,2018-01-03,0.000000
3,entertainment,REGALIMAX MALLGA ****78999 BUFORD GA,2018-01-02,2018-01-03,0.000000
4,conveyance,"CARMAX 00033333 LITHIA SPRINGS, GA",2018-01-02,2018-01-01,552.200000
...,...,...,...,...,...
137,conveyance,"CARMAX 00033333 LITHIA SPRINGS, GA",2018-12-02,2018-12-01,552.200000
138,gas,"EXXON 222200-00 ATLANTA, GA",2018-12-10,2018-12-11,33.328722
139,conveyance,GA EZPASS CSC0000000 000-0000000,2018-12-11,2018-12-12,25.000000
140,gas,QuikTrip 1234 00000000 ATLANTA GA,2018-12-19,2018-12-20,36.690373
141,gas,"EXXON 222200-00 ATLANTA, GA",2018-12-23,2018-12-24,29.948294

# Groceries
---

In [35]:
#transaction_dict['takeaway']

In [36]:
stores = ['KROGER #000 STONE MOUNTAIN GA',
 'PUBLIX SUPERMAR #0000 DECATOR, GA',
 'WHOLE FOODS 000000 ATLANTA, GA',
 'COSTCO 000 000000000000 DULUTH, GA']
food = pd.DataFrame(columns=master.columns)
# master = master.loc[temp_df.category!= 'groceries'].reset_index(drop=True)
# master = master.loc[temp_df.category!= 'takeaway'].reset_index(drop=True)

In [37]:
sum_food = 0
year_food_purchase = random.randint(50, 72)
for i in range(year_food_purchase):
    if sum_food <= int(keep.loc[keep.category == 'food']['test_income']):
        trans = stores[random.randint(0,len(stores)-1)]
        cost = random.uniform(1,300)
        date = generate_ran_date(2018, random.randint(1,12) , 1, 28) 
        food = food.append({'category':'groceries',
                                'transaction':trans,
                                'date_pending': date,
                                'date_posted': date + timedelta(days=1),
                                'amount':cost}, ignore_index=True)
        sum_food += cost
    else:
        break

In [38]:
random_store = list(transaction_dict['takeaway'])[random.randint(0, len(transaction_dict['homeimprov'])-1)] 
random_purchases_year = random.randint(48, 72)
for i in range(random_purchases_year):
    date = generate_ran_date(2018, random.randint(1,12), 1, 28)
    food = food.append({'category':'takeaway',
                                'transaction':random_store,
                                'date_pending':date,
                                'date_posted':date+timedelta(days=1),
                                'amount':random.randint(10, 30)}, ignore_index=True)

In [39]:
master = master.append(food).sort_values(by='date_pending').reset_index(drop=True)

# Housing
---

In [40]:
transaction_dict['furniture']

['IKEACO 88888888888 ATLANTA GA',
 'BEDBATHBEYOND 898098098 snellville, GA',
 'ASHLEY FURNITURE 8****9999 ATHENS GA']

In [41]:
# master = master.loc[temp_df.category!= 'furniture'].reset_index(drop=True)
furniture = pd.DataFrame(columns=master.columns)
for i in range(3):
    random_store = list(transaction_dict['furniture'])[random.randint(0, len(transaction_dict['furniture'])-1)] 
    date = generate_ran_date(2018, 12, 1, 31)
    furniture = furniture.append({'category':'home',
                'transaction':random_store,
                'date_pending': date,
                'date_posted':date+timedelta(days=1),
                'amount':random.randint(100, 1000)}, ignore_index=True)
master = master.append(furniture).sort_values(by='date_pending').reset_index(drop=True)

In [42]:
rent = pd.DataFrame(columns=master.columns)
for i in range(12):
    date=generate_ran_date(2018, i+1, 1, 2)
    rent = rent.append({'category':'home',
                                'transaction':'53 WESTLUX APT #600 OAKWOOD, GA',
                                'date_pending': date,
                                'date_posted':date+timedelta(days=1),
                                'amount':2100}, ignore_index=True)

master = master.append(rent).sort_values(by='date_pending').reset_index(drop=True)

In [43]:
# master = master.loc[temp_df.category!= 'utility'].reset_index(drop=True)
util = pd.DataFrame(columns=master.columns)
for i in range(12):
    date = generate_ran_date(2018, i+1, 3, 4)
    util = util.append({'category':'utility',
                                'transaction':'COX INTERNET 1233456 GA',
                                'date_pending': date,
                                'date_posted':date+timedelta(days=1),
                                'amount':100}, ignore_index=True)
    date = generate_ran_date(2018, i+1, 15, 16)
    util = util.append({'category':'utility',
                                'transaction':'VZWRLSS*APOCC VISW 000-000-0000 FL',
                                'date_pending': date,
                                'date_posted':date+timedelta(days=1),
                                'amount':150}, ignore_index=True)
    date = generate_ran_date(2018, i+1, 1, 2)
    util = util.append({'category':'utility',
                                'transaction':'LIBERTY UTILITIES*GAS 0000 00000 00000 GAINSVILLE GA',
                                'date_pending': date,
                                'date_posted':date+timedelta(days=1),
                                'amount':random.randint(10, 15)}, ignore_index=True)
    date = generate_ran_date(2018, i+1, 1, 2)
    util = util.append({'category':'utility',
                                'transaction':'GEORGIAPOWERCO 000000 ATLANTA GA',
                                'date_pending': date,
                                'date_posted':date+timedelta(days=1),
                                'amount':random.randint(145, 195)}, ignore_index=True)
    date = generate_ran_date(2018, i+1, 1, 2)
    util = util.append({'category':'utility',
                                'transaction':'CITYOFDECATUR PUBLIC WORKS 0000000 GA',
                                'date_pending': date,
                                'date_posted':date+timedelta(days=1),
                                'amount':random.randint(45, 100)}, ignore_index=True)
    random_store = list(transaction_dict['homeimprov'])[random.randint(0, len(transaction_dict['homeimprov'])-1)] 
    date =generate_ran_date(2018, i+1, 1, 28)
    util = util.append({'category':'home',
                                'transaction':random_store,
                                'date_pending': date,
                                'date_posted':date+timedelta(days=1),
                                'amount':random.randint(10, 30)}, ignore_index=True)
util.sort_values(by='date_pending').reset_index(drop=True)
master = master.append(util).sort_values(by='date_pending').reset_index(drop=True)

# Personal Care
---

In [44]:
transaction_dict['clothing']

['ROSS STORES # 0000 TUCKER GA',
 'WAL-MART #0000 STONEMOUNTAIN GA',
 "KOHL'S #0000 SNELLVILLE GA",
 'TARGET 00000000 TUCKER GA',
 'WM SUPERCENTER #0000 CHAMBLEE GA']

In [45]:
# master = master.loc[temp_df.category!= 'medical'].reset_index(drop=True)
# master = master.loc[temp_df.category!= 'grooming'].reset_index(drop=True)
# master = master.loc[temp_df.category!= 'clothing'].reset_index(drop=True)
personal = pd.DataFrame(columns=master.columns)
for i in range(12):
    random_store = list(transaction_dict['medical'])[random.randint(0, len(transaction_dict['medical'])-1)] 
    date = generate_ran_date(2018, i+1, 1, 28)
    personal = personal.append({'category':'medical',
                'transaction':random_store,
                'date_pending': date,
                'date_posted':date+timedelta(days=1),
                'amount':random.uniform(20, 650)}, ignore_index=True)
    date = generate_ran_date(2018, i+1, 1, 28)
    personal = personal.append({'category':'grooming',
                'transaction':'CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA',
                'date_pending': date,
                'date_posted':date+timedelta(days=1),
                'amount':random.uniform(10, 100)}, ignore_index=True)
    date = generate_ran_date(2018, i+1, 1, 28)
    personal = personal.append({'category':'grooming',
                'transaction':'BATH AND BODY WORKS 0000 LAWRENCEVILLE GA',
                'date_pending': date,
                'date_posted':date+timedelta(days=1),
                'amount':random.uniform(10, 60)}, ignore_index=True)
    random_store = list(transaction_dict['clothing'])[random.randint(0, len(transaction_dict['clothing'])-1)] 
    date = generate_ran_date(2018, i+1, 1, 28)
    personal = personal.append({'category':'clothing',
                'transaction':random_store,
                'date_pending': date,
                'date_posted':date+timedelta(days=1),
                'amount':random.uniform(100, 250)}, ignore_index=True)
master = master.append(personal).sort_values(by='date_pending').reset_index(drop=True)

In [46]:
#master = master.loc[temp_df.category!= 'baby'].reset_index(drop=True)
baby = pd.DataFrame(columns=master.columns)
for i in range(5, 12):
    random_store = list(transaction_dict['baby'])[random.randint(0, len(transaction_dict['baby'])-1)] 
    for purchases in range(random.randint(0, 5)):
        date = generate_ran_date(2018, i+1, 1, 28)
        baby = baby.append({'category':'baby',
                    'transaction':random_store,
                    'date_pending': date,
                    'date_posted':date+timedelta(days=1), 
                    'amount':random.uniform(20, 650)}, ignore_index=True)

In [47]:
master = master.append(baby).sort_values(by='date_pending').reset_index(drop=True)

# Entertainment
---

In [48]:
#master = master.loc[temp_df.category!= 'entertainment'].reset_index(drop=True)
#master = master.loc[temp_df.category!= 'holiday'].reset_index(drop=True)
entertainment = pd.DataFrame(columns=master.columns)
locations = list(transaction_dict['entertainment'])
movies = locations[-2:]
streaming = ['NETFLIXX ******9009 GATOS, CA', 15.49,
 'Disney PLUS Burbank CA', 7.99,
 'AMZN Mktp US*0A0000000 Amzn.com/bill WA', 14.99,
 'APPLE.COM/BILL 000-000-0000 CA', 9.99,
 'HULUTV &8999000*** CA', 6.99]
for night_out in movies:
    for i in range(12):
        if i%2 == 0:
            date = generate_ran_date(2018, i+1, 1, 28)
            entertainment = entertainment.append({'category':'holiday',
                                'transaction':night_out,
                                'date_pending': date,
                                'date_posted':date+timedelta(days=1),
                                'amount':random.uniform(0, 30)}, ignore_index=True)
        else:
            continue
for i in range(12):
    for num in range(len(streaming)):
        if num%2 == 0:
            date = generate_ran_date(2018, i+1, 1, 28)
            entertainment = entertainment.append({'category':'holiday',
                                        'transaction':streaming[num],
                                        'date_pending': date,
                                        'date_posted':date+timedelta(days=1), 
                                        'amount':streaming[num+1]}, ignore_index=True)
master = master.append(entertainment).sort_values(by='date_pending').reset_index(drop=True)

### Wedding, Honeymoon & Travel
---

In [49]:
# Honeymoon & Travel
#master = master.loc[temp_df.category!= 'wedding'].reset_index(drop=True)
wedding= pd.DataFrame(columns=master.columns)
vacay_list = list(transaction_dict['wedding'])
for i in vacay_list:
    if 'SANDALSOCHI' in i:
        date = generate_ran_date(2018, 7, 5, 28)
        wedding = wedding.append({'category':'wedding',
                        'transaction':i,
                        'date_pending': date,
                        'date_posted':date+timedelta(days=1), 
                        'amount':random.uniform(3000, 5000)}, ignore_index=True)
    else:
        date = generate_ran_date(2018, 7, 5, 28)
        wedding = wedding.append({'category':'wedding',
                        'transaction':i,
                        'date_pending': date,
                        'date_posted':date+timedelta(days=1), 
                        'amount':random.uniform(200, 1000)}, ignore_index=True)

In [50]:
# Wedding
vendors_list = list(transaction_dict['wedding'])
for i in vendors_list:
    date = generate_ran_date(2018, random.randint(3,5), 5, 28)
    wedding = wedding.append({'category':'wedding',
                            'transaction':i,
                            'date_pending': date,
                            'date_posted':date+timedelta(days=1), 
                            'amount':random.uniform(200, 5000)}, ignore_index=True)
master = master.append(wedding).sort_values(by='date_pending').reset_index(drop=True)

### Adding in Birthdays and Gift Giving Holidays
---
- Gifts for Spouse, Spouses parents, Individuals parents, and 3 friends birthdays = 8
- holiday months are dec, feb, may, june, october, xmas, valentines, mothers & fathers day, halloween

In [51]:
#master = master.loc[temp_df.category!= 'gift'].reset_index(drop=True)
gifts = pd.DataFrame(columns=master.columns)
gift_holidays = [12, 2, 5, 6, 10, random.randint(1,12), random.randint(1,12), random.randint(1,12), random.randint(1,12), random.randint(1,12), random.randint(1,12), random.randint(1,12), random.randint(1,12)]
for i in gift_holidays:
    date = generate_ran_date(2018, i, 1, 28)
    gifts = gifts.append({'category':'gifts',
                        'transaction':i,
                        'date_pending': date,
                        'date_posted':date+timedelta(days=1),
                        'amount':random.uniform(10, 200)}, ignore_index=True)
master = master.append(gifts).sort_values(by='date_pending').reset_index(drop=True)

In [52]:
#master = master.loc[temp_df.category!= 'savings'].reset_index(drop=True)
sum_savings = 0
if (income-master.amount.sum()) < 1:
    savings = pd.DataFrame(columns=master.columns)
    for i in range(12):
        if sum_savings > income - (master.amount.sum() + savings.amount.sum()):
            break
        else:
            date = generate_ran_date(2018, i+1, 27, 28)
            savings = savings.append({'category':'savings',
                            'transaction':'SAVINGS TRANSFER',
                            'date_pending': date,
                            'date_posted':date+timedelta(days=1),
                            'amount':100}, ignore_index=True)
            sum_savings += savings.amount.sum()
else:
    savings = pd.DataFrame(columns=master.columns)
    for i in range(12):
        if sum_savings > income - (master.amount.sum() + savings.amount.sum()):
            break
        else:
            date = generate_ran_date(2018, i+1, 27, 28)
            savings = savings.append({'category':'savings',
                            'transaction':'SAVINGS TRANSFER',
                            'date_pending': date,
                            'date_posted':date+timedelta(days=1),
                            'amount':800}, ignore_index=True)
            sum_savings += savings.amount.sum()

master = master.append(savings).sort_values(by='date_pending').reset_index(drop=True)

In [ ]:
master = master.loc[master.amount != 0].reset_index(drop=True)
round_nums = []
for i in range(len(master['amount'])):
    round_nums.append(round(master['amount'][i], 2))
master['amount'] = round_nums

In [ ]:
# Adding account column
cards = [1123, 5512, 8687]
card_num = []
for i in range(len(master_drop)+1):
    card_num.append(cards[random.randint(0, len(cards)-1)])
master['account'] = card_num

In [160]:
# Making a running balance from a carry over amount
carry_over_balance = [round(random.uniform(500, 2000), 2) for i in cards]
carry_over_balance
balance = []
first_nums = []
running_total = [0 for i in range(len(cards))]

for i in range(len(master)):
    for card_i in range(len(cards)):
        if master.iloc[i].account == cards[card_i]:
            if card_i not in first_nums:
                first_nums.append(card_i)
                running_total[card_i] = carry_over_balance[card_i] + master.iloc[i].amount
                balance.append(carry_over_balance[card_i] + master.iloc[i].amount) 
            else:
                running_total[card_i]+= master.iloc[i].amount
                balance.append(running_total[card_i])
master['balance'] = balance

In [161]:
master=master[['date_pending', 'date_posted', 'transaction', 'amount', 'balance', 'account', 'category']]

In [162]:
master

,date_pending,date_posted,transaction,amount,balance,account,category
0,2018-01-01,2018-01-02,"53 WESTLUX APT #600 OAKWOOD, GA",2100.00,3938.50,8687,home
1,2018-01-01,2018-01-02,LIBERTY UTILITIES*GAS 0000 00000 00000 GAINSVI...,14.00,3952.50,8687,utility
2,2018-01-01,2018-01-02,GEORGIAPOWERCO 000000 ATLANTA GA,176.00,4128.50,8687,utility
3,2018-01-01,2018-01-02,CITYOFDECATUR PUBLIC WORKS 0000000 GA,90.00,2010.20,5512,utility
4,2018-01-01,2018-01-02,AMZN Mktp US*0A0000000 Amzn.com/bill WA,14.99,1795.88,1123,holiday
...,...,...,...,...,...,...,...
437,2018-12-23,2018-12-24,ROSS STORES # 0000 TUCKER GA,160.43,23207.48,5512,clothing
438,2018-12-24,2018-12-25,CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA,82.04,23289.52,5512,grooming
439,2018-12-25,2018-12-26,AMZN Mktp US*0A0000000 Amzn.com/bill WA,14.99,23304.51,5512,holiday
440,2018-12-26,2018-12-27,BOJANGLES 0000 DULUTH GA,10.00,35094.47,8687,takeaway
441,2018-12-27,2018-12-28,"NETFLIXX ******9009 GATOS, CA",15.49,40113.03,1123,holiday

In [163]:
# Dropping category column to run csv on program
master_drop = master.drop(columns='category')

In [164]:
# Making master df look like unformatted sample

In [165]:
master_drop.columns = master_drop.iloc[0]
master_drop = master_drop.iloc[1:]

In [166]:
master_drop.head(50)

,2018-01-01,2018-01-02,"53 WESTLUX APT #600 OAKWOOD, GA",2100.0,3938.5,8687
1,2018-01-01,2018-01-02,LIBERTY UTILITIES*GAS 0000 00000 00000 GAINSVI...,14.00,3952.50,8687
2,2018-01-01,2018-01-02,GEORGIAPOWERCO 000000 ATLANTA GA,176.00,4128.50,8687
3,2018-01-01,2018-01-02,CITYOFDECATUR PUBLIC WORKS 0000000 GA,90.00,2010.20,5512
4,2018-01-01,2018-01-02,AMZN Mktp US*0A0000000 Amzn.com/bill WA,14.99,1795.88,1123
5,2018-01-02,2018-01-03,SHELL OIL 1111000000 EAST POINT GA,31.59,1827.47,1123
6,2018-01-02,2018-01-01,"CARMAX 00033333 LITHIA SPRINGS, GA",552.20,4680.70,8687
7,2018-01-03,2018-01-04,"PUBLIX SUPERMAR #0000 DECATOR, GA",213.97,2041.44,1123
8,2018-01-03,2018-01-04,COX INTERNET 1233456 GA,100.00,2110.20,5512
9,2018-01-03,2018-01-04,BOJANGLES 0000 DULUTH GA,13.00,2054.44,1123
10,2018-01-05,2018-01-06,APPLE.COM/BILL 000-000-0000 CA,9.99,2120.19,5512
11,2018-01-05,2018-01-06,"EXPRESSOILCHANGE 00*0000000-0 SNELLVILLE, GA",70.20,2190.39,5512
12,2018-01-06,2018-01-07,KROGER #000 STONE MOUNTAIN GA,155.44,2209.88,1123
13,2018-01-07,2018-01-08,CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA,62.96,4743.66,8687
14,2018-01-08,2018-01-09,"PUBLIX SUPERMAR #0000 DECATOR, GA",81.35,2271.74,5512
15,2018-01-09,2018-01-10,SHELL OIL 00000000000 EAST POINT GA,29.55,2301.29,5512
16,2018-01-10,2018-01-11,BOJANGLES 0000 DULUTH GA,19.00,2228.88,1123
17,2018-01-11,2018-01-12,BOJANGLES 0000 DULUTH GA,18.00,2246.88,1123
18,2018-01-11,2018-01-12,"EXXON 222200-00 ATLANTA, GA",30.49,4774.15,8687
19,2018-01-12,2018-01-13,"PUBLIX SUPERMAR #0000 DECATOR, GA",113.76,2415.05,5512
20,2018-01-12,2018-01-13,"COSTCO 000 000000000000 DULUTH, GA",297.14,2544.02,1123
21,2018-01-15,2018-01-16,VZWRLSS*APOCC VISW 000-000-0000 FL,150.00,2565.05,5512
22,2018-01-15,2018-01-16,AMC SUGARLOAFMILLS-18 LAWRENCEVILLE GA,20.99,2586.04,5512
23,2018-01-17,2018-01-18,REGALIMAX MALLGA ****78999 BUFORD GA,9.53,4783.68,8687
24,2018-01-17,2018-01-18,BOJANGLES 0000 DULUTH GA,18.00,2604.04,5512
25,2018-01-18,2018-01-19,Disney PLUS Burbank CA,7.99,4791.67,8687
26,2018-01-18,2018-01-19,TARGET 00000000 TUCKER GA,199.64,2803.68,5512
27,2018-01-20,2018-01-21,QuikTrip 0000 00000000 ATLANTA GA,30.48,2574.50,1123
28,2018-01-21,2018-01-22,BATH AND BODY WORKS 0000 LAWRENCEVILLE GA,40.44,2614.94,1123
29,2018-01-22,2018-01-23,"COSTCO 000 000000000000 DULUTH, GA",15.04,4806.71,8687
30,2018-01-22,2018-01-23,TRACTOR SUPPLY CO #0000 GRAYSON GA,12.00,4818.71,8687
31,2018-01-22,2018-01-23,"COSTCO 000 000000000000 DULUTH, GA",240.33,3044.01,5512
32,2018-01-24,2018-01-25,BOJANGLES 0000 DULUTH GA,13.00,3057.01,5512
33,2018-01-24,2018-01-25,"NETFLIXX ******9009 GATOS, CA",15.49,2630.43,1123
34,2018-01-24,2018-01-25,HULUTV &8999000*** CA,6.99,2637.42,1123
35,2018-01-25,2018-01-26,WALGREENS #00000 WINDER GA,357.79,3414.80,5512
36,2018-01-25,2018-01-26,BOJANGLES 0000 DULUTH GA,29.00,2666.42,1123
37,2018-01-25,2018-01-26,QuikTrip 1234 00000000 ATLANTA GA,29.91,4848.62,8687
38,2018-01-25,2018-01-26,"EXXON 000000-00 ATLANTA, GA",33.91,4882.53,8687
39,2018-01-26,2018-01-27,BOJANGLES 0000 DULUTH GA,17.00,3431.80,5512
40,2018-01-27,2018-01-28,SAVINGS TRANSFER,800.00,3466.42,1123
41,2018-02-01,2018-02-02,"WHOLE FOODS 000000 ATLANTA, GA",167.17,5049.70,8687
42,2018-02-01,2018-02-02,LIBERTY UTILITIES*GAS 0000 00000 00000 GAINSVI...,11.00,3477.42,1123
43,2018-02-01,2018-02-02,GEORGIAPOWERCO 000000 ATLANTA GA,179.00,5228.70,8687
44,2018-02-01,2018-02-02,"53 WESTLUX APT #600 OAKWOOD, GA",2100.00,7328.70,8687
45,2018-02-01,2018-02-02,CITYOFDECATUR PUBLIC WORKS 0000000 GA,84.00,7412.70,8687
46,2018-02-02,2018-02-03,"WHOLE FOODS 000000 ATLANTA, GA",295.86,7708.56,8687
47,2018-02-02,2018-02-03,"NETFLIXX ******9009 GATOS, CA",15.49,3447.29,5512
48,2018-02-02,2018-02-01,"CARMAX 00033333 LITHIA SPRINGS, GA",552.20,3999.49,5512
49,2018-02-03,2018-02-04,BOJANGLES 0000 DULUTH GA,27.00,4026.49,5512
50,2018-02-03,2018-02-04,COX INTERNET 1233456 GA,100.00,3577.42,1123

In [167]:
master_drop.to_csv('../data/test/test_data.csv', index=True)

# Description of person
- Average income before taxes 90,000
- Has 80,000 in savings
- 3 Credit cards
- Male, single, dating, June - December 2017
- Renting 2500/mo 33% of take home
- January 2018 25% eating out, 75% groceries
- January 2018 buys ring, 4,000
- January 2018 engaged
- March 2018 buys tux
- April 2018 Files as single
- April 2018 gets wedding planner
- June 2018 married
- July 2018 honeymoon
- April 2019 Files as Married Joint
- January 2019 buys house
- March - November buys baby stuff
- November Baby 2019
- Watches online streaming
- Goes to movies 1X mo
- buys winter clothes christmas December
- buys summer clothes birthday May