In [7]:
import pandas as pd
import datetime
import random

In [2]:
transaction_dict = {
    'gas':['QuikTrip 0000 00000000 ATLANTA GA',
       'SHELL OIL 00000000000 EAST POINT GA',
       'EXXON 000000-00 ATLANTA, GA'],
    
'groceries' : ['KROGER #000 STONE MOUNTAIN GA',
            'PUBLIX SUPERMAR #0000 DECATOR, GA',
            'WHOLE FOODS 000000 ATLANTA, GA',
            'COSTCO 000 000000000000 DULUTH, GA'],

'grooming' : ['CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA',
           'BATH AND BODY WORKS 0000 LAWRENCEVILLE GA'],

'homeimprov':['LOWES #00000* BUFORD GA',
             'TRACTOR SUPPLY CO #0000 GRAYSON GA',
             'THE HOME DEPOT #0000 NORCROSS GA'],

'medical' : ['CVS/PHARMACY #0000 SUWANEE GA', 
          'WALGREENS #00000 WINDER GA',
          'DRROBERTPARK OPTOMETRIST & ASSoc SNELLVILLE, GA',
          'GREATER ATLANTA PEDIATRICS STONEMOUNTAIN GA',
          'EMORYUNV HOSPITAL 78979879 ATLANTA GA',
             'ATLANTA GYO&OB *0000000 DECATUR GA '],

'conveyance' :['E ZPASS MD CSC0000000 000-0000000 MD',
              'AUTOZONE 0000 STONEMOUNTAIN GA',
              'ADVANCE AUTO PARTS #0000 LITHONIA GA',
             'EXPRESSOILCHANGE 00*0000000-0 SNELLVILLE, GA',
             'NORTHERN TOOL 00 000000 000 SNELLVILLE, GA'],

'takeaway': ['PANERA BREAD #000000 P ATLANTA GA', 
        'CHICK-FIL-A #00000 TUCKER GA',
        "WENDY'S LOGAN LOGANVILLE GA",
        'BOJANGLES 0000 DULUTH GA',
        'COOK OUT LITHONIA GA 0 LITHONIA GA',
        'TROPICAL SMOOTHIE CAFE GA DECATUR GA',
        'HARDEES 0000 LILBURN GA',
        'PANDA EXPRESS 00000H TUCKER GA',
        'KFC G00000 DECATUR GA',
        'Subway 00000 Lithonia GA',
        'STARBUCKS STORE 0000 ATLANTA GA'],

'utility' :['COX INTERNET 1233456 GA',
           'VZWRLSS*APOCC VISW 000-000-0000 FL',
          'T-MOBILE 0000 00000 00000 ATLANTA GA',
          'GEORGIAPOWERCO 000000 ATLANTA GA',
          'CITYOFDECATUR PUBLIC WORKS 0000000 GA'],

'clothing' : ['ROSS STORES # 0000 TUCKER GA',
           'BATH AND BODY WORKS 0000 STONECREST GA',
           'WAL-MART #0000 STONEMOUNTAIN GA',
           "KOHL'S #0000 SNELLVILLE GA",
           'TARGET 00000000 TUCKER GA',
           'WM SUPERCENTER #0000 CHAMBLEE GA'],

'holiday' : [
    'AMERICAN AIR 00-00000000000 MINNEAPOLIS, MN',
    'EXPEDIA 00000000000000 EXPEDIA.COM WA',
    'UNITED 000000000000 000-000-0000 TX'
    'SANDALSOCHI JAMAICA *008900088899 JAMAICA'],

'streaming' : ['Disney PLUS Burbank CA',
             'AMZN Mktp US*0A0000000 Amzn.com/bill WA',
             'APPLE.COM/BILL 000-000-0000 CA'],

'work': ['PAYPAL *LINKEDIN 000-000-0000 CA',
       'OFFICEMAX/DEPOT 0000 peachtree corners GA',
        'BEST BUY 000000 TUCKER GA'],
  
'gift':['Etsy.com - leatherwork00 000-0000000 NY', 
      'SHUTTERFLY, INC. 000-000000000 CA',
     'PeachTree FLOWERS 0000000 ATLANTA, GA'],

'baby': ['buybuy BABY 000000 Snellville Ga',
       'POTTERYBARN KIDS 000 000000 ATL GA',
       'CARTERS KIDS 00 00 00000 LAWERENCEVILLE GA',
       'BABYGAP 0-0000-000 Atlanta GA'],

'wedding' : ['TIFFANY&CO *90-000009- ATLANTA GA',
          'helzbergDiamonds 70000-000 ATLANTA GA',
          'BrianneMcMullan Events llc *999*9999****** GA',
          'ATLBOTANICALGAR ATLANTA GA',
          'the White Magnolia Bridal ATLANTA GA',
          'RACHMAKESCAKES ATL GA'],

'furniture':['IKEACO 88888888888 ATLANTA GA',
           'BEDBATHBEYOND 898098098 snellville, GA',
            'ASHLEY FURNITURE 8****9999 ATHENS GA']}

In [3]:
temp_df = pd.DataFrame()
for key, value in transaction_dict.items():
    temp_df[key] = pd.Series(value)

In [21]:
temp_df.head()

   identifier                                 transaction        date
0         gas           QuikTrip 0000 00000000 ATLANTA GA  2018-01-26
1   groceries               KROGER #000 STONE MOUNTAIN GA  2018-01-10
2    grooming  CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA  2018-01-28
3  homeimprov                     LOWES #00000* BUFORD GA  2018-01-30
4     medical               CVS/PHARMACY #0000 SUWANEE GA  2018-01-29

In [5]:
temp_df.columns = temp_df.columns.str.split("_", expand =True)
temp_df = temp_df.stack(level=0).rename_axis((None, 'identifier')).reset_index('identifier').reset_index(drop=True)
temp_df = temp_df.rename(columns={temp_df.columns[1]: 'transaction'})
temp_df.head()

   identifier                                 transaction
0         gas           QuikTrip 0000 00000000 ATLANTA GA
1   groceries               KROGER #000 STONE MOUNTAIN GA
2    grooming  CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA
3  homeimprov                     LOWES #00000* BUFORD GA
4     medical               CVS/PHARMACY #0000 SUWANEE GA

In [ ]:
# Adding Random Dates

In [11]:
def generate_ran_date(year, month, first_day, end_day):
    start = datetime.date(year, month, first_day)
    end = datetime.date(year, month, end_day)
    time_btw = end - start
    days_btw = time_btw.days
    rand_num = random.randrange(days_btw)
    rand_date = start + datetime.timedelta(days=rand_num)
    return rand_date

In [18]:
dates = []
for i in range(len(temp_df)):
    dates.append(generate_ran_date(2018, 1, 1, 31))
temp_df['date'] = dates

In [20]:
temp_df.head()

   identifier                                 transaction        date
0         gas           QuikTrip 0000 00000000 ATLANTA GA  2018-01-26
1   groceries               KROGER #000 STONE MOUNTAIN GA  2018-01-10
2    grooming  CRAFTED HAIR SALON JUo000 LAWRENCEVILLE GA  2018-01-28
3  homeimprov                     LOWES #00000* BUFORD GA  2018-01-30
4     medical               CVS/PHARMACY #0000 SUWANEE GA  2018-01-29